.Rproj.user
.Rhistory
.RData
.Ruserdata
#Exluding files
*.xlsx
*.docx
*.pdf
*.png
*.jpeg
*.tiff
*.tif
*.psd
*.csv
*.txt
.Rdata
.httr-oauth
.DS_Store
.quarto
.RDataTmp1
GitHub.R
.RDataTmp
02_community_ordination.R
.old
